{% extends "layout.html" %}

{% block content %}

  
 

    <form method="POST" action="/signup">
        {% if message %}
            <p class="error">{{message}}</p>
        {% endif %}
        <h2>Signup</h2>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Sign Up">
    </form>


{% endblock %}